.list {
  flex-direction: column;

  min-width: 272px;
  width: 272px;
  height: fit-content;

  margin: 5px;
  padding: 0 4px;

  background-color: #e0e3e7;
  border-radius: 12px;

  .list-card-container {
    // Todo: Flex or block ? Why.
    display: flex;
    flex-direction: column;


  }

}