body {
  height: 100vh;
  background-image: url('assets/landscape-river.jpg');
  background-size: cover;

  h1, h2, h3, h4 {
	margin: 0 0 8px;
  }

  #app {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
  }
}